WebForms/WebForm/Connected Services/ClienteService/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Modelos" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteById" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AddCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AddCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_UpdateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_UpdateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_DeleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_DeleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetClientes" message="tns:IClienteService_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClientesResponse" message="tns:IClienteService_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetClienteById" message="tns:IClienteService_GetClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClienteByIdResponse" message="tns:IClienteService_GetClienteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/AddCliente" message="tns:IClienteService_AddCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/AddClienteResponse" message="tns:IClienteService_AddCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/UpdateCliente" message="tns:IClienteService_UpdateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/UpdateClienteResponse" message="tns:IClienteService_UpdateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/DeleteCliente" message="tns:IClienteService_DeleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DeleteClienteResponse" message="tns:IClienteService_DeleteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/AddCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:52801/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>