WebForms/WebForm/Connected Services/ClienteService/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Modelos" />
  <xs:element name="GetClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Modelos" minOccurs="0" name="GetClientesResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Modelos" minOccurs="0" name="GetClienteByIdResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Modelos" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Modelos" minOccurs="0" name="cliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>